html,body{
    padding:0px;
    margin:0px;
}
section{
    height:100vh;
    width:100%;
}
#navbar{
    background-color:#0092ca;
    height:60px;
    padding:0px;
    margin:0px;
    width:100%;
    position: fixed;
    top:0;
    left:0;
    z-index:9999;
    display:flex;
    flex-direction: row;
    align-items: center;
}
#navbar ul{
    width:60%;
    height:auto;
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
    list-style:none;
    margin:0px;
    margin-left:40%;
    padding:0px;
    
}
#navbar a{
    text-decoration:none;
    color:black;
    font-size:22px;
    font-weight: 1000;
    background-color:#0092ca;
    padding:18px 40px;
    margin:15px;
    white-space: nowrap;
    transition: color 0.6s ease-out, background-color  0.6s ease-out, border-bottom 0.6s ease-out;
}
#navbar a:hover{
    color:#0092ca;
    background-color:#393e46;
    border-bottom:3px solid #0092ca;
}
#welcome-section{
    background-color:#222831;
    height:100vh;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
#welcome-section h1, h2{
    color:#eeeeee;
    text-align:center;
}
#say-hello{
    text-decoration: none;
    color:#0092ca;
    font-size:35px;
    font-weight:600;
    background-color:transparent;
    border-radius:50px;
    border:3px solid #0092ca;
    padding:10px 20px;
    transition:background-color 0.6s ease-out,color 0.6s ease-out, border 0.6s ease-out;
}
#say-hello:hover{
    background-color:#0092ca;
    color:white;
    border:3px solid #0092ca;
}
#projects{
    width:100%;
    height:100vh;
    background-color:white;  
}
.tab1-panel{
    background-color:grey;
    
}
